    * {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    body {
        width: 100vw;
        height: 100vh;
    }
    #main {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        padding: 20px;

    }
    #main div {
        background-color: rgb(225, 225, 225);
        padding: 30px;
        width: 200px;
        height: 300px;
        transition: 0.5s ease;
        border-radius: 10px;
    }

    #main div:hover {
        transition: 0.5s ease;
        transform: scale(1.05);
        margin-left: 10px;
        margin-right: 10px;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #FFF500;
    }

    header ul{
        list-style: none;
        display: flex;
        gap: 10px;
    }

    form {
        width: 100%;
        display: flex;

    }

    form input {
        width: 100%;
        padding: 10px;
        margin: 20px;
        border-radius: 100px;
        border: none;
        background-color: rgb(225, 225, 225);
    }